html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    animation: slideDown 1s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.resume-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #0056b3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
    padding-bottom: 5rem;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-out;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #007bff;
}

.project, .experience, .education, .skills {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    animation: fadeInUp 1s ease-out;
}

.project h3, .experience h3, .education-item h3 {
    margin-top: 0;
}

.education-item {
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: fadeInUp 1s ease-out;
}

footer a {
    color: white;
    text-decoration: none;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 0.5rem;
}

.skills ul li span {
    font-weight: normal;
}
